div.llama-prompt {
    
    div.promt-container {
        display: flex;
        column-gap: 12px;
        //align-items: center;
    }

/*     input {
        font-size: 18px;
        padding: 12px;
        margin: 12px 0;
        border-radius: 12px;
        border: solid 1px #ede;
        width: auto;
        min-width: 200px;
        max-width: 500px;
    }

    button {
        border: solid 1px #ede;
        border-radius: 12px;
        padding: 12px 16px;
        font-size: 16px;
    } */
}